# EditorConfig is awesome: https://EditorConfig.org

# 顶层配置文件
root = true

# 所有文件
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

# TypeScript/JavaScript 文件
[*.{ts,tsx,js,jsx}]
indent_style = space
indent_size = 2

# JSON 文件
[*.json]
indent_style = space
indent_size = 2

# CSS 文件
[*.css]
indent_style = space
indent_size = 2

# Markdown 文件
[*.md]
trim_trailing_whitespace = false
